* {
  box-sizing: border-box;
  /* box-shadow: 0 0 0 1px red; */
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

ul,
li,
a,
p,
h1,
h2,
h3,
h4,
input,
img,
button,
select {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
}

body {
  font-family: Verdana;
  font-size: 14px;
  height: 100%;
  overflow: auto;
}

input:focus::-webkit-input-placeholder {
  opacity: 0.3;
}

input:focus::-ms-input-placeholder {
  opacity: 0.3;
}

input:focus::-moz-placeholder {
  opacity: 0.3;
}
.text-center {
  text-align: center;
}
.center {
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
}

.form_wrapper {
  height: 100%;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  max-width: 764px;
  min-width: 764px;
  /*max-height: 650px;*/
}



main {
  /*-ms-flex:1;flex: 1;*/
  height: 100%;
  /*overflow-x: hidden;overflow-y: auto;*/
}

footer {
  height: 50px;
  min-height: 50px;
  display: -ms-flexbox;
  -ms-flex-pack: justify;
  -ms-flex-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 1;  
}
.payment-footer {
  display: flex;
  flex-direction: column;
    justify-content: center;
}
.icon {
  width: 30px;
  height: 30px;
  display: block;
  background-image: url(../images/sprite.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
}

.spr {
  display: block;
  height: 1px;
  width: 100%;
  box-shadow: inset 0 1px #aaa;
  margin: 15px 0;
}

.button {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 3px;
  min-width: 60px;
  padding: 0 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:focus {
  background-color: #464646;
  box-shadow: inset 0 0 0 1px #525252;
  pointer-events: none;
}

.button:hover {
  background-color: rgba(29, 126, 71, 0.85);
}

.button:active:hover {
  /*transform:translateY(1px);*/
  padding-top: 1px;
}

.bold {
  font-weight: 700;
}

.text_upper {
  text-transform: uppercase;
  white-space: nowrap;
}

.flex_row {
  display: -ms-flexbox;
  -ms-flex-pack: justify;
  -ms-flex-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*===========START header & footer===========*/

header{
  display: -ms-flexbox;
  -ms-flex-pack: justify;
  -ms-flex-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  min-height: 62px;
  max-height: 62px;
  width: 100%;
  position: relative;
  z-index: 5;
  padding: 10px 30px;
}

header > * {
  height: 100%;
  -ms-flex: 1;
  flex: 1;
  display: -ms-flexbox;
  -ms-flex-align: center;
  display: flex;
  align-items: center;
}

header .flex_row,
footer .flex_row {
  -ms-flex-pack: end;
  justify-content: flex-end;
  min-width: 220px;
}

.evoca_log {
  min-width: 373px;
  max-width: 373px;
  min-height: 58px;
  height: 58px;
  background: url(../images/logo.png) no-repeat center / contain;
}

.visa_logo {
  -ms-flex: 1;
  flex: 1;
  height: 39px;
  max-height: 39px;
  min-height: 39px;
  max-width: 126px;
  min-width: 126px;
  width: 126px;
  background: url(../images/visa_logo.png) no-repeat center / contain;
}

.master_logo {
  -ms-flex: 1;
  flex: 1;
  max-width: 79px;
  width: 79px;
  min-width: 79px;
  min-height: 47px;
  height: 47px;
  background: url(../images/master_logo.png) no-repeat center / contain;
  margin-left: 10px;
  padding-left: 10px;
  box-sizing: content-box;
  box-shadow: inset 1px 0 0 0 rgba(0, 0, 0, 0.29), inset 2px 0 0 0 #fff;
}

footer .fvisa_logo {
  box-shadow: none;
  height: 33px;
  max-height: 33px;
  min-height: 33px;
  width: 50px;
  background: url(../images/foot_visa.png) no-repeat 0 / contain;
  background-position: center;
}

footer .mc_logo {
  box-shadow: none;
  width: 50px;
  min-height: 33px;
  height: 33px;
  background: url(../images/foot_master.png) no-repeat right 0 / contain;
  background-position: center;
}
footer .arca_logo {
  box-shadow: none;
  width: 50px;
  min-height: 33px;
  height: 33px;
  background: url(../images/foot_acra.png) no-repeat right 0 / contain;
  background-position: center;
}
footer .american_express_logo {
  box-shadow: none;
  width: 50px;
  min-height: 33px;
  height: 33px;
  background: url(../images/foot_am.png) no-repeat right 0 / contain;
  background-position: center;
}
footer .mir_logo {
  box-shadow: none;
  width: 50px;
  min-height: 33px;
  height: 33px;
  background: url(../images/foot_mir.png) no-repeat right 0 / contain;
  background-position: center;
}

/*===========END header & footer===========*/

/*===========START form_fields===========*/

.form_cont {
  padding: 20px 35px;
}

.form_cont label {
  line-height: 30px;
  min-height: 30px;
  max-width: 456px;
  font-size: 15px;
  -ms-flex: 2;
  flex: 2;
}

.form_fields {
  display: -ms-flexbox;
  -ms-flex-pack: start;
  -ms-flex-align: start;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px 0;
}

.form_fields:first-child {
  margin-top: 0;
}

.form_cont .form_label {
  min-width: 110px;
  text-align: right;
  /*max-width:120px;*/
  line-height: 20px;
  margin-top: 3px;
  -ms-flex: 1;
  flex: 1;
}

.form_box {
  margin-left: 10px;
  -ms-flex: 1;
  flex: 1;
}

.form_box {
  display: -ms-flexbox;
  -ms-flex-pack: start;
  -ms-flex-align: center;
  -ms-flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.form_box input {
  background-color: #fff;
  border-radius: 2px;
  height: 44px;
  line-height: 30px;
  padding: 2px 10px;
  width: 100%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.form_box select,
.select {
  background-color: #fff;
  border-radius: 2px;
  height: 44px;
  line-height: 30px;
  padding: 0px 0px 0px 5px;
  width: 100%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.form_box input:focus,
.select:focus {
  box-shadow: 0 0 0 1px rgb(29, 126, 71);
}

.form_box.small select:first-child,
.form_box.small .select:first-child {
  max-width: 110px;
}

.form_box.small select:last-child,
.form_box.small .select:last-child {
  max-width: 60px;
}

.form_box.small input {
  max-width: 110px;
}

.form_fields a {
  line-height: 19px;
  display: block;
  color: #9c1519;
  font-weight: 400;
  font-size: 14px;
  margin-left: 15px;
  box-shadow: inset 0 -1px 0 0;
  position: relative;
}

.form_fields a:active {
  transform: translateY(1px);
}

.form_fields a span {
  font-weight: 700;
}

.form_box p {
  margin: 8px 0 0 0;
  font-size: 12px;
  line-height: 15px;
  display: -ms-flexbox;
  -ms-flex: 1 100%;
  display: flex;
  flex: 1 100%;
  display: inline-block;
}

.illustration {
  display: none;
  position: absolute;
  top: 100%;
  transform: translateY(-100%) translateX(100%);
  right: 10px;
  width: 150px;
  height: 150px;
  background-color: green;
  background: url(../images/cvv2.png) no-repeat center center;
  background-size: 150px;
}

.form_fields a:hover .illustration {
  display: inline-block;
}

.form_box p .asterisk {
  padding: 0 5px 5px 0px;
}

.icon.slash {
  min-width: 30px;
  cursor: default;
  background: url(../images/slash.png) no-repeat center;
}

.select {
  position: relative;
}

.select ul.open {
  visibility: visible;
  opacity: 1;
}

.select .select_body {
  position: relative;
  cursor: pointer;
}

.select .select_body > span {
  font-size: 12px;
  max-width: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.select .select_body > span.icon {
  position: absolute;
  width: 10px;
  height: 10px;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: url(../images/triangle.png) no-repeat center / contain;
}

.select ul {
  width: 100%;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 34px;
  left: 0;
  background-color: #fff;
  font-size: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  width: 100%;
  transition: 0.1s ease-in;
  max-height: 120px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 999;
}

.select ul li {
  padding: 0 10px;
  box-shadow: inset 0px -1px 0 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-weight: 700;
  transition: 0.1s ease-in;
}

.select ul li:hover {
  background-color: #9c1519;
  color: #fff;
}

.select ul li:last-child {
  box-shadow: none;
}

/*===========END form_fields===========*/

/*====================START scrollbars====================*/

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

* ::-webkit-scrollbar,
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: transparent;
}

* ::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  background-clip: padding-box;
  height: 40px;
  width: 40px;
}

* ::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

* ::-webkit-scrollbar-button,
*::-webkit-scrollbar-button {
  height: 0px;
  width: 0px;
  background: transparent;
}

* {
  scrollbar-face-color: #bebebe;
  scrollbar-arrow-color: #fff;
  scrollbar-track-color: white;
  scrollbar-shadow-color: white;
  scrollbar-highlight-color: white;
  scrollbar-3dlight-color: white;
  scrollbar-darkshadow-color: white;
}

/*====================END scrollbars====================*/

.error_wrap {
  display: -ms-flexbox;
  -ms-flex-direction: column;
  display: flex;
  flex-direction: column;
}

.error_wrap .timer_bar {
  width: 100%;
}

.error {
  padding: 20px 30px;
  /*display: -ms-flexbox;-ms-flex-pack: center;-ms-flex-align: center;display: flex;justify-content: center;align-items: center;-ms-flex: 1; flex: 1; max-height: 300px; -ms-flex-direction: column;flex-direction: column;*/
}

.error h2 {
  padding: 10px 0px;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
}

.error p {
  /*flex: 1;-ms-flex: 1;*/
  color: #ff4040;
}

.button_cont {
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: start;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.button_cont button {
  background-color: #9c1519;
  width: 100%;
}

.timer_bar {
  height: 42px;
  background-color: #9c1519;
  color: #fff;
  padding: 0 35px;
  display: -ms-flexbox;
  -ms-flex-align: center;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.timer_bar .value {
  font-weight: 600;
  font-size: 16px;
  margin-left: 5px;
}

.timer_bar .value span:nth-child(2) {
  margin-left: 5px;
}

.info_bar {
  padding: 15px 35px 15px 35px;
  box-shadow: inset 0 -1px 0 #fff, inset 0 -2px 0 #c4c4c4;
}

.grid {
  max-width: 620px;
}

.grid li {
  min-height: 25px;
}

.grid .label {
  display: inline-block;
  font-weight: 700;
  /* float: left; */
}

.grid .value {
  margin-left: 10px;
  -ms-flex: 1;
  flex: 1;
}

/* .message_bar {
  padding: 20px;
}

.message_bar > div {
  margin: 20px 0;
} */

@media only screen and (max-height: 650px) {
  .center {
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
  }
}

@media only screen and (max-width: 765px) {
  .form_wrapper {
    min-width: 0;
    /*max-height: 100%;min-height: 0;height: auto;*/
    width: 100%;
    /*max-height: 100%;*/
  }
  header .flex_row,
  footer .flex_row {
    min-width: 0;
  }
}

@media only screen and (max-width: 670px) {
  .visa_logo {
    max-width: 100% !important;
    width: auto;
    min-width: 60px !important;
  }
  header .flex_row,
  footer .flex_row {
    max-width: 30%;
  }
  .master_logo {
    max-width: 100% !important;
    width: auto;
    min-width: 50px !important;
    box-shadow: none;
  }
  .evoca_log {
    max-width: 70%;
    min-width: 373px;
    margin-right: 10px;
    padding: 10px;
  }
  .text_upper {
    font-size: 12px;
  }
  .form_fields a {
    font-size: 12px;
    margin-left: 10px;
  }
  .center {
    height: auto;
  }
  .form_wrapper {
    min-width: 0;
    width: 100%;
    max-height: 100%;
  }
  .illustration {
    top: -10%;
    transform: translateY(-100%) translateX(-100%);
    right: -100%;
  }
}

@media only screen and (max-width: 470px) {
  .form_fields {
    margin: 10px 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .form_fields > * {
    -ms-flex: 1 100%;
    flex: 1 100%;
  }
  .form_cont label {
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
    -ms-flex: auto;
    flex: auto;
  }
  .form_cont .form_label {
    max-width: 100%;
    text-align: left;
    margin-top: 0;
    line-height: 30px;
    -ms-flex: auto;
    flex: auto;
  }
  .form_box {
    margin-left: 0;
  }
  .icon.slash {
    display: none;
  }
  .form_fields .form_box.small {
    max-width: 100%;
    width: 100%;
  }
  .form_fields .form_box.small select,
  .select {
    max-width: 100%;
    margin: 10px 0px 0px 0;
  }
  .form_box.small input {
    max-width: 100%;
  }
  .form_fields a {
    margin: 20px auto 0px auto;
  }
  header,
  footer {
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    min-height: 90px;
    max-height: 100%;
    padding: 10px;
  }
  header .flex_row,
  footer .flex_row {
    max-width: 100%;
    min-height: 30px;
  }
  main {
    -ms-flex: none;
    flex: none;
    height: auto;
    overflow: hidden;
  }
  header .flex_row,
  footer .flex_row {
    min-width: 0;
  }
  .timer_bar {
    padding: 10px;
  }
  .info_bar {
    padding: 10px;
  }
  .form_cont {
    padding: 10px;
  }
  .button_fields .form_label {
    display: none;
  }
}

@media only screen and (max-width: 280px) {
  .timer_bar .label {
    display: inline-block;
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .text_upper {
    font-size: 11px;
  }
  .button_cont button {
    /*max-width:100px;*/
    overflow: hidden;
  }
}

/*9/20/2017*/

.evoca_log {
  background: url("../images/logo_gray.svg") no-repeat;
  min-width: 1px;
  width: 100%;
  background-size: 100%;
  background-position: center;
}

.timer_bar {
  background-color: #6400dc;
}

.button_cont button {
  background-color: #6400dc;
}

.button_cont button:hover {
  background-color: #6400dc;
  opacity: 0.7;
}

.form_fields a {
  color: #6400dc;
}

/* #formPayment {
  box-shadow: 0 0 20px rgba(99, 30, 216, 0.5);
} */

div.form_box.small {
  line-height: 30px;
  min-height: 30px;
  max-width: 456px;
  font-size: 15px;
  -ms-flex: 2;
  flex: 2;
}






.pay-container {
  background-color: #f9f9f9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 0 60px;
  width: 100%;
  background-position: center;
  /* background-image: url(./images/bgi.png); */

  zoom: 1.12; 
  /* comment for the coders that will see this, the client wanted zooming for entire page,
   cause it seemed a bit far away, after giving all the sizes for everything :D   */
}

.parent-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 24px 40px 24px;
}

.form-container {
  position: relative;
  background: url(Rectangle.png), linear-gradient(180.45deg, rgba(255, 255, 255, 0.64) 0.38%, rgba(255, 255, 255, 0.88) 99.61%);
  backdrop-filter: blur(28px);
  border-radius: 12px;
  padding: 64px 32px 32px 32px;
  /* width: 100%; */
  width: 554px;
  font-family: arial;
}

.Logo {
  max-width: 180px;
  width: 100%;
  margin-bottom: 34px;
  margin-top: 32px;
}

.Description {
  font-size: 20px;
  color: #232323;
}


.m-header {
  display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background-color: #3f8fe8;
    border-radius: 8px 8px 0px 0px;
}

.m-timer_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.m-timer_bar svg {
  margin-right: 16px;
}

.m-info_bar {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  margin-bottom: 34px;
  align-items: flex-start;
}

.m-info-bar-left,
.m-info-bar-right {
  display: flex;
  flex-direction: column;
  max-width: 340px;
}

.m-info-bar-left span:nth-child(1),
.m-info-bar-right span:nth-child(1) {
  margin-bottom: 8px;
}

.m-info-bar-right {
  align-items: flex-end;
  min-width: 130px;
  max-width: 340px;
  padding-top: 16px;
}

.m-info-bar-right-amount {
  color: #232323;
  font-size: 20px;
  font-weight: 600;
}

.input-container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 44px;
  margin-bottom: 32px;
}

.input-container input {
  width: 100%;
  height: 52px;
  padding: 12px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.56);
  border: 1px solid #a6a6a6;
  color: #1a1f71;
  font-weight: bold;
  font-size: 14px;
}

.info-icon {
  position: absolute;
  top: 18px;
  right: 8px;
  cursor: pointer;
  width: 28px;
}
.info-icon:hover svg path {
  fill: red;
}

.form-label {
  color: #232323;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}

.m-select-container {
  margin-bottom: 24px;
}

.m-select {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.m-select select {
  width: calc(50% - 12px);
  height: 52px;
  padding: 16px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.56);
  border: 1px solid #808080;
  color: black;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.7092 0.295765C13.6163 0.202047 13.5057 0.127661 13.3839 0.076898C13.262 0.026135 13.1313 0 12.9993 0C12.8673 0 12.7366 0.026135 12.6148 0.076898C12.4929 0.127661 12.3824 0.202047 12.2894 0.295765L7.70992 4.87525C7.61697 4.96896 7.50638 5.04335 7.38453 5.09411C7.26269 5.14488 7.132 5.17101 7 5.17101C6.868 5.17101 6.73731 5.14488 6.61547 5.09411C6.49362 5.04335 6.38303 4.96896 6.29008 4.87525L1.7106 0.295765C1.61765 0.202047 1.50706 0.127661 1.38521 0.076898C1.26337 0.026135 1.13268 0 1.00068 0C0.868682 0 0.737991 0.026135 0.616146 0.076898C0.4943 0.127661 0.383712 0.202047 0.29076 0.295765C0.10453 0.483106 0 0.736529 0 1.00068C0 1.26484 0.10453 1.51826 0.29076 1.7056L4.88024 6.29509C5.44268 6.85682 6.20509 7.17235 7 7.17235C7.79491 7.17235 8.55732 6.85682 9.11976 6.29509L13.7092 1.7056C13.8955 1.51826 14 1.26484 14 1.00068C14 0.736529 13.8955 0.483106 13.7092 0.295765Z' fill='%23808080'/%3E%3C/svg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

.m-select select option:checked {
  background-color: #6300DB;
  color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}

input::placeholder {
  font-size: 12px;
  line-height: 20px;
  color: #a6a6a6;
}
.textinput.year {
    width: 78px;
    padding-left: 20px;
    border-radius: 0 5px 5px 0;
    border-left: transparent;
    margin-left: -16px;
    margin-right: 12px;
}
.textinput.month {
    width: 42px;
    padding-right: 0;
    border-radius: 5px 0 0 5px;
    border-right: transparent;
}
.textinput.cvc {
  width: 90px;
   
}
.cc-info {
  display: flex;
  justify-content: space-between;
}
.cc-info-last-two {
  display: flex;
  justify-content: space-between;
}
.cc-info-number {
  flex-grow: 1;
  position: relative;
  margin-right: 12px;
}
.cc-image {
  width: 60px;
    position: absolute;
    right: 2px;
    top: 32px;
}
.cc-number-errors {
  margin: -22px 0 24px 4px;
  color: #ff4040;
  display: flex;
  flex-direction: column;
}

.Button_cont {
  width: 100%;
}

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 56px;
  padding: 16px 32px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 400;
  border: 3px solid #99daa2;
  background-color: #23bd64;
  color: #fff;
  cursor: pointer;

}
.Button:disabled {
  background-color: #8acd93;
}

.Button:hover {
  background-color: #1cad59
}

.Button:active {
  background-color: #1b914d;
}


.Button svg {
  margin-left: 8px;
}
.tooltip {
  display: none;
}

.tooltip::after {
  content: "";  
}

.info-icon:hover~.tooltip {
  position: absolute;
    bottom: 52px;
    right: 0;
    background-color: #fafafa;
    border-radius: 4px;
    padding: 6px 8px;
    display: block !important;
    border: 1px solid #ff4040;
    color: #737373;
}

.valid {
  display: none;
}


.input-container.error {
  padding: 0;
  color: #ff4040;
}
.input-container.error small {
  font-size: 12px;
  margin-left: 4px;
}
.input-container.error input {
  border-color: #ff4040;
}

.show-mobile {
  display: none;
}
.hide-mobile {
  display: block;
}
@media screen and (max-width: 618px) {
  .pay-container {
    zoom: 1;
  }
  .m-info_bar {
    align-items: center ;
  }
    .m-info-bar-left, .m-info-bar-right {
      align-items: center !important;
  }
  .m-info-bar-right {
    width: 100%;
  }
  .show-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
  .input-container {
    margin-bottom: 34px;
  }
  .cc-info {
    flex-direction: column;
  }
  .cc-info-number {
    margin-right: 0;
}
.textinput.year {
  width: calc(100% - 38px);
  margin-right: 0;
}

.textinput.cvc {
  width: 100%;
}
  .Logo {
      width: 218px;
  }

  .form-container {
      width: 100%;
  }

  .m-select {
      flex-direction: column;
  }

  .m-select select {
      max-width: 327px;
      width: 100%;
  }

  .m-select select:first-child {
      margin-bottom: 16px;
  }

  .m-info_bar {
      flex-direction: column;
  }

  .m-info-bar-right {
      align-items: flex-start;
      margin-top: 16px;
  }

  .footer_flex_row {
      flex-wrap: wrap;
  }
}

@media screen and (max-width: 560px) {

}
.loading-box-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  
  .box-wrapper {
    flex: 0 0 150px;
    height: 150px;
    position: relative;
  }
  
  .box-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding-top: 80%;
  }
  
  .circle-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .circle-percentage {
    position: absolute;
    top: 15px;
    left: 15px;
    text-align: center;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    border-radius: 50%;
    background-color: #fff;
  }
  
  .percentage {
    position: absolute;
    font-size: 22px;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    font-family: arial;
    color: #1d43ff;
    font-weight: bold;
  }
.payment-wait {
  text-align: center;
  padding: 25px;
  font-size: 16px;
}
.payamount {
  font-weight: bold;
  margin-left: 4px;
}
.payment-success-text {
  color: #1b914d;
  font-size: 20px;
  margin: 20px 0 35px;
}
.payment-fail-text {
  color: #ff4040;
  font-size: 20px;
  margin: 20px 0 35px;
}

.payment-redirect {
  color: #807985;
  margin-top: 20px;
  font-size: 16px;
}